<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.settings.overlay.g4s1m">
    <application android:hasCode="false" />
    <overlay android:targetPackage="com.android.settings"
             android:requiredSystemPropertyName="ro.boot.hardware.sku"
             android:requiredSystemPropertyValue="G4S1M"
             android:isStatic="true"
             android:priority="10" />
</manifest>
